* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
    font-family: 'Hind Siliguri', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 70px;
}

.list {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: #1389b2;
    
}

